@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
  color: aqua;
  position: relative;
  z-index: 1;
  /* Ensure h2 is above the background elements */
}

#content-container {
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10000;
}

#fireflies-container {
  position: fixed;
  /* Fix the container to the viewport */
  width: 100%;
  height: 100%;
  background-color: #010115;
  z-index: -1;
  /* Move the container behind other elements */
}

.firefly {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  animation: ease 200s alternate infinite, moveFirefly 10s infinite alternate, flash 200s infinite, fadeIn 2s ease-in;
}


@keyframes moveFirefly {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100px, -100px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {

  0%,
  30%,
  100% {
    opacity: 0.5;
    box-shadow: 0 0 0vw 0vw rgb(89, 78, 248);
  }

  3% {
    opacity: 1;
    box-shadow: 0 0 1vw 0.2vw rgb(34, 23, 133);
  }
}


#cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(rgb(101, 87, 180), rgba(102, 89, 177, 0.521), transparent);
  filter: blur(30px);
  pointer-events: none;
  z-index: 0;
  /* Move the cursor behind other elements */
  transition: 0.15s ease;
}

#coming-soon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* Parallax Card Styles */
.wrapper {
  height: 100vh;
  width: 100%;
  background-color: #130042b0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.6s;
  overflow: hidden;
}

/* 
.wrapper:before {
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle closest-side,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  transform: translate(-50%, -50%) scale(var(--scale));
  transition: transform 0.2s;
} */

.card {
  width: 350px;
  height: 350px;
  margin: 0 20px;
  background-color: rgba(216, 220, 255, 0.1);
  color: #fff;
  padding: 22px;
  flex-shrink: 0;
  text-shadow: 0 1px 0 #130042;
  box-sizing: border-box;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Added to vertically center the items */
  pointer-events: none;
  border: 1px solid rgba(171, 242, 255, 0.5);
  box-shadow: 0 0 100px #130042;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
}

.card h4 {
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

.card p {
  color: white;
}



/* 
  About Me Design 
*/
/* Add some padding and margin to the section */
#about-me {
  padding: 80px 0;
  margin-bottom: 50px;
  background-color: #130042b0;
}

/* Center align the text in the section */
#about-me h2 {
  text-align: center;
}

/* Add some spacing between paragraphs */
#about-me p {
  margin-bottom: 20px;
}

/* Add a border and box shadow to the image */
#about-me img {
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}



/* 
  Contact Me Design 
*/

#contact-me {
  padding: 80px 0;
  background-color: #010052b0;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 150px;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #45a049;
}

/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#contact-me h2,
.contact-form input,
.contact-form textarea,
.submit-btn {
  animation: fadeInUp 1s ease;
}